#canvas1{
    
    position: absolute;
    top: 78%;
    left: 10%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
}
body{
    background: url(/img/bggjeuu.png);
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    100%{
        background-position-x:0px ;
    }
    0%{
        background-position-x: 3000px;
    }
}